.progress-bar-container{
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius:4px ;
    overflow: hidden;
    opacity: 0.5;
    transition: .3s ease-out;
    margin:20px;

}
.progress-bar-container .progress-bar .active{
    opacity: 1;
}
.progress-bar-container .progress-bar {
    height: 100%;
    background-color: rgb(39, 39, 255);
    border-radius: 4px;
    
}